.tableSection {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 15px 20px;
    border-right: 1px solid var(--darkGrayColor);
}

.tableSection:last-child {
    border: none;
}

@media only screen and (max-width: 715px) {
    .tableSection {
        border: none;
        text-align: center;
        row-gap: 0;
    }
}