.fourSectionTable {
    background-color: var(--whiteColor);
    padding: 25px;
    border-radius: 10px;
    display: flex;
    column-gap: 20px;
    max-width: 800px;
    z-index: 99;
    margin: 0 50px;
}

@media only screen and (max-width: 715px) {
    .fourSectionTable {
        flex-direction: column;
        padding: 10px;
    }
}